.container {
    --container-max-width: 1200px;
    --screen-min-width: 320px;
    --min-margin: 8px;

    width: calc(90% + ( 10 / 100 * var(--screen-min-width) ) - ( 2 * var(--min-margin) ) );
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
}