.icon {
    width: 0.75em;
    width: 1cap;
    height: 0.75em;
    height: 1cap;
    fill: currentColor;
}
[dir="rtl"] .icon {
    transform: scaleX(-1);
}

.with-icon {
    display: inline-flex !important;
    align-items: baseline;
}

.with-icon .icon {
    margin-inline-end: 1rem;
}

.with-icon .icon.right {
    margin-inline-start: 1rem;
}

.icon.width-md {
    width: 1em;
    width: 1.4cap;
    height: 1em;
    height: 1.4cap;
}