.reel {
    display: flex;
    gap: var(--spacing-md);
    overflow: hidden;
}
.reel > * {
    flex: 0 0 auto;
}

.reel[data-reel-mode='auto-scroll'] {
    opacity: 0;
}
.reel.in[data-reel-mode='auto-scroll'] {
    animation: in 1s ease-in both;
}

@keyframes in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
