// Sidebar
// Everylayout component for sidebar layout pattern
// https://every-layout.dev/layouts/sidebar/

.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-comfortable-md, 1rem);
}

.sidebar > :first-child {
  flex-basis: var(--sidebar-width, 20rem);
  flex-grow: 1;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

// Sidebar variants
.sidebar--reverse {
  flex-direction: row-reverse;
}

.sidebar--narrow > :first-child {
  --sidebar-width: 15rem;
}

.sidebar--wide > :first-child {
  --sidebar-width: 30rem;
}
