// Stack
// Everylayout component for vertical spacing between children
// https://every-layout.dev/layouts/stack/

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--spacing-md, 1rem);
}

.stack--xs > * + * {
  margin-block-start: var(--spacing-xs, 0.5rem);
}

.stack--sm > * + * {
  margin-block-start: var(--spacing-sm, 0.5rem);
}

.stack--lg > * + * {
  margin-block-start: var(--spacing-lg, 2rem);
}

.stack--none > * + * {
  margin-block-start: 0;
}
