.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2xl);
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((var(--switcher-width, 30rem) - 100%) * 999);
}

.switcher > :nth-last-child(n + 5),
.switcher > :nth-last-child(n + 5) ~ * {
    flex-basis: 100%;
}

.switcher[data-width="xl"] {
    --switcher-width: 70rem;
}

.switcher[data-width="lg"] {
    --switcher-width: 50rem;
}

.switcher[data-width="md"] {
    --switcher-width: 30rem;
    gap: var(--spacing-2xs);
}

.switcher-item {
    display: flex;
}