.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2xl);
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
}

.switcher > :nth-last-child(n + 5),
.switcher > :nth-last-child(n + 5) ~ * {
    flex-basis: 100%;
}
