$border-radius-sm: 0.75rem;
$border-radius-md: 1.5rem;
$border-radius-lg: 2.5rem;
$border-radius-xlg: 3.5rem;

:root {
    --border-radius-sm: #{$border-radius-sm};
    --border-radius-md: #{$border-radius-md};
    --border-radius-lg: #{$border-radius-lg};
    --border-radius-xlg: #{$border-radius-xlg};
}
