// Abstract Spacing Tokens

$base: 8;

// modular scale
$major-third: 1.25;

$density: $major-third;
$modular-3xs: $base * $density;
$modular-2xs: $modular-3xs * $density;
$modular-xs: $modular-2xs * $density;
$modular-sm: $modular-xs * $density;
$modular-md: $modular-sm * $density;
$modular-lg: $modular-md * $density;
$modular-xl: $modular-lg * $density;
$modular-2xl: $modular-xl * $density;
$modular-3xl: $modular-2xl * $density;

$linear-0: 0;
$linear-25: $base * 0.25;
$linear-50: $base * 0.5;
$linear-100: $base * 1;
$linear-200: $base * 2;
$linear-300: $base * 3;
$linear-400: $base * 4;
$linear-500: $base * 5;
$linear-600: $base * 6;
$linear-700: $base * 7;
$linear-800: $base * 8;