.button {
    --button-text-color: var(--color-text-secondary);
    --button-background-color: var(--color-brand-primary);
    --button-text-color-hover: var(--color-text-secondary);
    --button-background-color-hover: var(--color-brand-dark);
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: var(--spacing-3xs) var(--spacing-2xl);
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border-radius: 100px;
    border: none;
    text-transform: uppercase;
    transition: background-color, color 0.3s ease;
}

.button:focus,
.button:active,
.button:hover {
    color: var(--button-text-color-hover, 'inherit');
    background-color: var(--button-background-color-hover);
}

.button.filter-button {
    --button-text-color: var(--color-text-secondary);
    --button-background-color: var(--color-brand-lighter);
    --button-background-color-hover: var(--color-brand-secondary-dark);
}

.button.back-button {
    --button-text-color: var(--color-brand);
    --button-background-color: var(--color-brand-secondary-light);
    --button-text-color-hover: var(--color-brand-secondary-very-light);
    --button-background-color-hover: var(--color-brand);
}