.surface {
    --card-background-color: var(--color-surface-white);
    --card-text-color: var(--color-text-on-white);
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-4xl);
    color: var(--card-text-color);
    background-color: var(--card-background-color);
}
.card {
    --card-background-color: var(--color-surface-white);
    --card-text-color: var(--color-text-on-white);
    position: relative;
    border-radius: var(--border-radius-xlg);
    padding: var(--spacing-2xl) var(--spacing-3xl);
    padding: clamp(var(--spacing-lg), 6vw, var(--spacing-2xl)) clamp(var(--spacing-lg), 6vw, var(--spacing-3xl));
    color: var(--card-text-color);
    background-color: var(--card-background-color);
}
.card[padding-small] {
    padding: var(--spacing-lg);
}

.card[data-variant="primary"] {
    --card-background-color: var(--color-surface-white);
    --card-text-color: var(--color-text-on-white);
}
.card[data-variant="secondary"] {
    --card-background-color: var(--color-surface-brand-dark);
    --card-text-color: var(--color-text-on-brand-light);
}
.card[data-variant="secondary-light"] {
    --card-background-color: var(--color-surface-secondary-light);
    --card-text-color: var(--color-text-on-secondary-light);
}
.card[data-variant="secondary-lighter"] {
    --card-background-color: var(--color-surface-brand-lighter);
    --card-text-color: var(--color-text-on-brand-lighter);
}

.card-two-tone {
    border-radius: var(--border-radius-lg);
    overflow: hidden;
}
.card-two-tone > *:first-child {
    padding: var(--spacing-xl) var(--spacing-2xl);
    background-color: var(--color-surface-brand-lighter);
    color: var(--color-text-on-brand-lighter);
}
.card-two-tone > *:last-child {
    padding: var(--spacing-xl) var(--spacing-2xl);
    background-color: var(--color-surface-brand);
    color: var(--color-text-on-brand);
}

.map-card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-lg);

    iframe {
        width: 100%;
        height: 20rem;
    }

    .overlay {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-surface-white);
        padding: var(--spacing-2xs) var(--spacing-sm);
        border-radius: var(--border-radius-sm);
    }
}

.step-card {
    position: relative;
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-md) var(--spacing-lg);
    color: var(--color-brand-light);
    background-color: var(--color-surface-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: center;
    justify-content: space-between;
    min-width: 275px;
}

.step-card__number {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, 30%);
    background-color: var(--color-surface-brand-light);
    color: var(--color-text-on-brand-light);
    border-radius: 100px;
    aspect-ratio: 1/1;
    width: 40px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-heading);
    padding-top: 0.2rem;
}

.step-card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: center;
    justify-content: space-between;
}
.step-card__content[data-no-action] {
    gap: var(--spacing-2xl);
    margin-bottom: var(--spacing-4xl);
}

.step-card__title {
    margin-top: var(--spacing-xl)
}

.uupg__card {
    display: grid;
    grid-template-areas: "image header adopted"
                        "image content content"
                        "footer footer footer-right";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
}

.uupg__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    grid-area: image;
    border-radius: var(--border-radius-sm);
}
.uupg__image[data-size="small"] {
    width: 150px;
    height: 150px;
}
.uupg__image[data-size="medium"] {
    width: 200px;
    height: 200px;
}

.uupg__header {
    grid-area: header;
    .uupg__name {
        font-family: var(--font-family-base);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-medium);
    }
    .uupg__country {
        font-size: var(--font-size-md);
    }
}

.uupg_adopted {
    grid-area: adopted;

    display: flex;
    justify-content: flex-end;

    & > div {
        border-radius: var(--border-radius-sm);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 8px;
    }
    img {
        width: 50px;
        height: 50px;
    }
    span {
        font-size: var(--font-size-xs);
        text-transform: uppercase;
        text-align: center;
    }
}

.uupg__content {
    display: none;
    grid-area: content;
}

.uupg__more-button {
    grid-area: footer;
    align-self: flex-end;
}

.uupg__footer {
    grid-area: footer;
}

@media (max-width: 576px) {
    .uupg__card {
        grid-template-areas: "image adopted"
        "header header"
        "content content"
        "footer footer";

        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto auto;
    }
}

.highlighted-uupg__card {
    border-radius: var(--border-radius-md);
    padding: var(--spacing-md);
    color: var(--color-brand);
    font-weight: var(--font-weight-medium);

    img {
        border-radius: var(--border-radius-sm);
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .button {
        padding: var(--spacing-2xs) var(--spacing-sm);
        font-size: var(--font-size-sm);
    }
}

.info-card {
    padding: var(--spacing-2xl);
    border-radius: var(--border-radius-xlg);
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    width: fit-content;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-lg);

}
.info-card__content {
    & > *:nth-child(1) {
        font-size: var(--font-size-xl);
    }

    & > *:nth-child(2) {
        font-size: var(--font-size-3xl);
        --stack-spacing: var(--spacing-xs);
    }

    & > *:nth-child(3) {
        font-size: var(--font-size-lg);
    }

    p {
        font-family: var(--font-family-base);
    }
}
.text-card {
    background-color: var(--color-surface-white);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-md) var(--spacing-xl);
}
.adoption-card {
    background-color: var(--color-surface-white);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-md) var(--spacing-md);
}

.engaged-stamp {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: var(--border-radius-md);
    border: 5px solid;
    padding: var(--spacing-2xs);
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-medium);
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    max-width: 20rem;
    transform: rotate(8deg) translate(10%, -10%);
    -webkit-mask-image: url('/wp-content/themes/doxa-website/assets/images/crop.png');
    -webkit-mask-size: 500px 350px;
    mix-blend-mode: multiply;
}

.engaged-stamp[data-engaged="false"] {
    border-color: var(--color-status-failure);
    color: var(--color-status-failure);
}
.engaged-stamp[data-engaged="true"] {
    border-color: var(--color-status-success);
    color: var(--color-status-success);
}
@media (max-width: 1024px) {
    .engaged-stamp {
        position: static;
        transform: rotate(8deg) translate(0%, 10%);
    }
}

.status-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2xs);
    width: 210px;
    img {
        width: 50px;
        height: 50px;
    }
    p {
        font-size: var(--font-size-lg);
        font-family: var(--font-family-heading);
        line-height: 1;
        text-align: center;
    }
}
.progress-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    flex-wrap: wrap;
    img {
        width: 20px;
        height: 20px;
    }
}