.filters {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-5xl);
    border-radius: var(--border-radius-xlg);
    background-color: var(--color-surface-white);
}