.footer {
    margin-top: auto;
    padding: var(--spacing-3xl);
    background-color: var(--color-surface-brand);
}

.footer__content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "left center right";
    gap: var(--spacing-2xl);
    color: var(--color-text-on-brand-light);

    text-align: center;

    .main-navigation {
        justify-content: center;
    }

    .footer__description {
        h3 {
            font-weight: var(--font-weight-regular);
            text-transform: uppercase;
        }
        p {
            font-size: var(--font-size-sm);
            color: var(--color-brand-secondary);
        }
    }
}

.footer__center {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.footer__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copyright {
    font-size: var(--font-size-xs);
    color: var(--color-brand-secondary);
    text-align: center;
}

@media (max-width: 768px) {
    .footer__content .main-navigation ul {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        align-items: center;
        line-height: 1;
    }
}

@media (max-width: 992px) {
    .footer__content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "top"
            "center"
            "bottom";
    }
    .footer__center {
        grid-area: top;
    }
    .footer__right {
        grid-area: bottom;
    }
    .footer__left {
        grid-area: center;
    }
}