input {
    border: 1px solid var(--input-border-color);
    border-radius: 100px;
    background-color: var(--color-surface-white);
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-lg);
}