.pll-parent-menu-item {
    a {
        display: flex;
        align-items: center;

        & > img {
            border-radius: 0;
            transform: scale(1.3);
        }

    }
    & > a {
        display: flex;
        align-items: center;

        & > span {
            display: none;
        }
    }
}

#secondary-menu {
    .pll-parent-menu-item {
        a {
            span {
                display: block;
            }
        }
    }
}