.video-modal-button {
    position: relative;
    cursor: pointer;

    .icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 30%;
        fill: var(--color-brand-secondary-light);
        transform: translateY(30%);
        transition: fill 0.3s ease, transform 0.3s ease;

        [dir="rtl"] & {
            transform: translateY(30%) scaleX(-1);
        }
    }

    &:hover {
        .icon {
            fill: var(--color-surface-white);
            transform: translateY(30%) scale(1.1);

            [dir="rtl"] & {
                transform: translateY(30%) scaleX(-1.1);
            }
        }
    }
}

.video-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}
.video-modal-overlay[data-state="closed"] {
    opacity: 0;
    visibility: hidden;
}

.video-modal {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}
.video-modal[data-state="closed"] {
    opacity: 0;
    visibility: hidden;
}
body:has(.video-modal[data-state="open"]) {
    overflow: hidden;
}